.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 40rem;
}

.card-img {
    width: 30rem;
}

.compteur {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.biberon-img {
    width: 20%;
    height: 20%;
}

.compote-img {
    width: 20%;
    height: 20%;
}
.count {
    color: black;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 40px;
}
