.aside {
  text-align: left;
  width: 70%;
  box-shadow: 12px 12px 2px 1px #89caf8;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

h1 {
  font-size: 2.5em;
  color: #3e92cc;
  padding-left: 10px;
}

section {
  border-radius: 20px;
  background-color: #89caf8;
  padding-left: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  font-family: "Rubik Bubbles", serif;
  color: black;
  padding-left: 10px;
}

.objectifs {
  list-style: none;
  padding: 0;
}

p,
li {
  font-size: 1em;
}
