.aside {
  text-align: left;
  width: 20vw;
  border: #bdd9ed solid 1px;
  border-radius: 20px;
  padding: 10px;
}

h1 {
  font-size: 2.5em;
  font-family: "Rubik Bubbles", serif;
  color: #3e92cc;
  padding-left: 10px;
}

section {
  border: #3e92cc solid 1px;
  border-radius: 20px;
  background-color: #89caf8;
  padding-left: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 2em;
  font-family: "Rubik Bubbles", serif;
  color: black;
  padding-left: 10px;
}

.objectifs {
  list-style: none;
  padding: 0;
}

p,
li {
  font-size: 1em;
}
