.up-section{
  display: flex;
  gap: 2em;
  flex-direction: row;
  background-color: transparent;
  border: solid transparent 20px;
  height: 70vh;

}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

