.left-section{
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: transparent;
  border: solid transparent 20px;
  height: 70vh;
}

.app {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}


